/* Your external CSS styles go here */
* {
    padding: 5;
    margin: 5;
    box-sizing: border-box;
}

.outer{

display: block;
margin: 0px 250px ;

}
html{
    color: #f1e9ee;
    font-family: cursive;
    background-color: rgb(8, 8, 8);
    background-image: url("b6.jpg");
    background-size: 10px 10px;
    
}

.blue-button{
    text-decoration: none;;
    font-family: cursive;
    font-size: 15px ;
    border-radius: 9px;
    padding: 6px 4px;
    background-color: #dcbbbb;
    color: #050505;
}
 
.blue-button:hover{
    text-decoration: none;;
    background-color: #f18585;
    color: #050505;
}
.lbutton{
    text-decoration: none;;
    font-family: cursive;
    font-size: 15px ;
    border-radius: 9px;
    padding: 6px 4px;
    background-color: #dcbbbb;
    color: #050505;
    border:none;

}
.lbutton:hover{
text-decoration: none;;
    background-color: #f18585;
    color: #050505;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 4rem ;
    color: #f98181;
    text-shadow: 3px 3px 4px #ed0774 ;
    text-align: center;
}


h2{
    color: #c58686;
  
}
#table{ 
    
    text-align: center;
    background-color:none;
}

.profile img{

    border-radius: 300px;
    width: 22rem;
    height: 25rem;
    float: right;
      
    
}
.resume{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0rem;
    justify-items: left ;
    align-items: center;
}

#aulter {
    padding-top: 1.2rem;
}