/* Your external CSS styles go here */
* {
    padding: 5;
    margin: 5;
    box-sizing: border-box;
}
html{
    color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    background-color: yellow;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5 rem;
    color: rgb(200, 12, 134, 12);

    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}


h2{
   
    text-decoration-color: blue;
}
#table{ 
    
    text-align: center;
    background-color: rgb(173, 20, 220);
}

.profile img{
    border-radius: 999px;
    width: 15rem;
    height: 15rem;
}
.resume{

    border: darkgrey;
   
}
